@model ErrorViewModel
@{
    ViewData["Title"] = "Erro";
}

<h1 class="text-danger">Erro.</h1>
<h2 class="text-danger">OH NOOOO LA POLICIA</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>ID do Pedido:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Modo de Desenvolvimento</h3>
<p>
   ERRO - ERRO - YOU SHOULD NOT SEE THIS MAN
</p>
